body {
    font-family: 'Oswald', sans-serif;
    background-color: #17d3ff;
    text-align: center;
}

img {
    width: 400px;
}

.answer1{display:none;}
.answer2{display:none;}
.answer3{display:none;}
.answer4{display:none;}